@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Pirata+One&display=swap');

body {
    margin: 0 auto;
    display: grid;
    font-size: 16px;
    width: 100vw;
    height: auto;
}

.navbar {
    position: sticky;
    top: -5px;
    width: 100%;
    height: 28px;
    background-color: rgba(0, 0, 0, 0.146);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Pirata One', cursive;
    font-size: 1.5em;
    box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar:hover {
    background-color: rgba(0, 0, 0, 0.235);
    transition: all 0.5s;
}

.reccab {
    margin-left: 4px;
    color: #59a5d8;
}

.nav-btn {
    width: 200px;
    height: 24px;
    letter-spacing: 10px;
    font-weight: 300;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    margin-right: 4px;
}

.nav-btn:hover {
    transition: all 0.5s;
    background-color: #59a5d8;
    font-weight: 600;
    box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.video {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cyan;
}

.video-img {
    width: 100%;
}

.info {
    background-color: black;
    height: 80vh;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
    color: white;
    font-family: 'Pirata One', cursive;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo1 {
    max-width: 250px;
    border-radius: 50%;
    background-color: aqua;
    margin-left: 5%;
    margin-right: 24px;
}

.about1 {
    width: 60%;
    margin-right: 5%;
    text-align: center;
}

.about2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 320px), 2fr));
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: 8px;
    background-color: #59a5d8;
    border-radius: 12px;
    margin-bottom: 24px;
    max-width: 90%;
}

.about2-info {
    min-width: 280px;
    max-width: 40%;
    height: auto;
    color: black;
}

.telones-img {
    min-width: 280px;
    max-width: 90%;
    height: auto;
}

:root {
    --background-dark: #2d3548;
    --text-light: rgba(255, 255, 255, 0.6);
    --text-lighter: rgba(255, 255, 255, 0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-section {
    align-items: flex-start;
    background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%);
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
    position: relative;
}

.hero-title {
    position: absolute;
    font-size: 2em;
    top: 0;
    color: white;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
}

@media(min-width: 540px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 960px) {
    .card-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card {
    list-style: none;
    position: relative;
}

.card:before {
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
}

.card__background {
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition:
        filter 300ms linear,
        transform 300ms linear;
}

.card:hover .card__background {
    transform: scale(1.05) translateZ(0);
}

.card-grid:hover>.card:not(:hover) .card__background {
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
}

.card__category {
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
}

.card__heading {
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    line-height: 1.4;
    word-spacing: 100vw;
}